# FastAPI core
fastapi
uvicorn[standard]
python-multipart
python-dotenv

# Database
databases[asyncpg]
sqlalchemy
psycopg2-binary

# Auth
passlib[bcrypt]
bcrypt==4.0.1

# AI / Vision
torch
ultralytics
opencv-python
Pillow

# TTS
gtts

# Gemini AI
google-generativeai

# Utils
numpy
